include *.txt *.ini *.cfg *.rst
recursive-include webtasks *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.jinja2
recursive-include webtasks *.eot *.svg *.ttf *.woff *.woff2
recursive-include nginx *.conf 
recursive-include supervisor *.conf
recursive-include conf *crontab
include install.sh
include unpack_install_start.sh
include requirements.txt

