<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>

<form action="{{ request.resource_url(request.root, 'logout') }}" method="POST">
    <input type="submit" value="logout">
</form>

<ul>
{% for message in messages %}
    <li>
{% for attribute in ('datetime', 'hostname', 'app', 'content') %}
        <span class="{{ attribute }}">{{ message.toDict()[attribute] }}</span>
{% endfor %}
    </li>
{% endfor %}
</ul>
<p id="clock"></p>

<ol>
{% for ((_, app), count) in apps|sortedStats %}
    <li>{{app}}: {{count}}</li>
{% endfor %}
</ol>
<ol>
{% for ((_, host), count) in hostnames|sortedStats %}
    <li>{{host}}: {{count}}</li>
{% endfor %}
</ol>

<script>
    $(".datetime").html(function(index, value) {
        return moment(value, "YYYY-MM-DD HH:mm:ss.SSSSSSZ").fromNow();
    });
</script>

</body>
</html>