{% extends "master.jinja2" %}
{% block body %}



<div class="centerstage">
<dl>
    <dt>Occurred:</dt>
    <dd>{{ message.toDict()['datetime'].strftime('%c') }}
        (<span class="datetime">{{ message.toDict()['datetime'] }}</span>)</dd>
    <dt>On client:</dt>
    <dd>{{ message.toDict().get('hostname') }}</dd>
    <dt>Application:</dt>
    <dd>{{ message.toDict().get('app') }}</dd>
    <dt>Full content:</dt>
    <dd class="content">{{ message.toDict().get('content') }}</dd>
</dl>

{% if message.toDict().get('scrolls.parse-exception') %}
<form class="scrolls-warning" action="https://github.com/ilogue/scrolls/issues/new">
<fieldset>
    <span>There was an error parsing this message.</span>
    <input type="hidden" name="title" value="Failed to parse message"/>
    <input type="hidden" name="body" value="
        {{ '>' + message.toDict().get('scrolls.parse-exception','')[:1000] + '\n\n' }}
        `{{ message.toDict().get('data','')[:1000] }}`"/>
    <input type="submit" value="Report Issue"/>
</fieldset>
<form>
{% endif %}


</div>


<nav id="sidebar">

    <form action="{{ request.resource_url(request.root, 'logout') }}" method="POST">
        <input type="submit" value="logout">
    </form>
    <nav>
        <a href="{{ request.resource_url(request.root) }}">home</a>
    </nav>

</nav>

</div>

{% endblock %}