html {width: 100%}
body {
    white-space: nowrap;
    width: 100%
    font-family: Sans-Serif;
}
span, li, h4, a, input {
    font-family: Sans-Serif;
}
#container {
    margin-right: 270px;
}
#sidebar {
    position: fixed;
    top:0px;
    right: 0px;
    width: 250px;
    min-width: 250px;
}
#messages {
    position: relative;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
ol.expandable {
    height: 10em;
    overflow:hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}
ol.expandable:hover {
    height: auto;
}
@media all and (max-width:800px)
{
    #container {
        margin-right: auto;
    }
    #sidebar
    {
        position: relative;
        width: auto;
        min-width: 0;
        top:auto;
        right: auto;
    }
}


ul {
	list-style-type: none;
	padding: 2px;
	margin: 0;
}
li:hover {background-color: Gainsboro;}
#messages span {display: inline-block;}
#messages .datetime {min-width: 8em; max-width:8em; }
#messages .hostname {min-width: 6em; max-width:6em; }
#messages .app {min-width: 6em; max-width:6em; }
#messages .datetime, .hostname, .app {
    text-overflow: ellipsis;
    overflow: hidden
}
#messages .content {
    font-style: italic;
}

nav > a {
    padding: 0.5em;
    font-size: large;
}

form.scrolls-warning fieldset {
padding: 1em;
border: 1px solid Gray;
background-color: WhiteSmoke;
display: inline-block;
}
form.scrolls-warning input {
padding: 0.5em;
}
form.scrolls-warning span {
margin: 1em;
}

